
.icon-cash-register:before { content: '\e800'; } /* '' */
.icon-cash-register2:before { content: '\e801'; } /* '' */
.icon-cash-register3:before { content: '\e802'; } /* '' */
.icon-cinema-ticket-window:before { content: '\e803'; } /* '' */
.icon-aerofalcon:before { content: '\e804'; } /* '' */
.icon-aerofalcon-outline:before { content: '\e805'; } /* '' */
.icon-tools:before { content: '\e806'; } /* '' */
.icon-nutrition-coaching:before { content: '\e807'; } /* '' */
.icon-graph-up:before { content: '\e808'; } /* '' */
.icon-personal-trainer:before { content: '\e809'; } /* '' */
.icon-personal-training-equipment:before { content: '\e80a'; } /* '' */
.icon-private-personal:before { content: '\e80b'; } /* '' */
.icon-customer:before { content: '\e80c'; } /* '' */
.icon-maps-and-flags:before { content: '\e80d'; } /* '' */
.icon-telephone:before { content: '\e80e'; } /* '' */
.icon-iconmonstr-product-7:before { content: '\e80f'; } /* '' */
.icon-budget:before { content: '\e810'; } /* '' */
.icon-iconmonstr-product-11:before { content: '\e811'; } /* '' */
.icon-budget-3:before { content: '\e812'; } /* '' */
.icon-budget-2:before { content: '\e814'; } /* '' */
.icon-packages-transportation-on-a-truck:before { content: '\e815'; } /* '' */
.icon-download-button:before { content: '\e819'; } /* '' */
.icon-truck-time:before { content: '\e81a'; } /* '' */
.icon-truck-driver:before { content: '\e81b'; } /* '' */
.icon-truck-driver-2:before { content: '\e81c'; } /* '' */
.icon-drum-container:before { content: '\e81e'; } /* '' */
.icon-home-button:before { content: '\e81f'; } /* '' */
.icon-send-button:before { content: '\e820'; } /* '' */
.icon-iconmonstr-product-13:before { content: '\e821'; } /* '' */
.icon-iconmonstr-product-5:before { content: '\e822'; } /* '' */
.icon-production-line:before { content: '\e823'; } /* '' */
.icon-tune:before { content: '\e824'; } /* '' */
.icon-_ionicons_svg_ios-analytics:before { content: '\e82a'; } /* '' */
.icon-_ionicons_svg_md-analytics:before { content: '\e82b'; } /* '' */
.icon-monitor-tablet-and-smartohone:before { content: '\e82c'; } /* '' */
.icon-monitor-with-text:before { content: '\e82d'; } /* '' */
.icon-smartphone-with-message:before { content: '\e82e'; } /* '' */
.icon-shopping-bag:before { content: '\f290'; } /* '' */
